
<div class="container-fluid">

  <div class="row">

    <div class="col-sm-12 mb-4 text-center">
        <h3>Shopping Cart</h3>
    </div>

    <ng-container *ngIf="!loggedIn">
      <div style="padding-left:0px;padding-right: 0px" class="col-xs-5 col-sm-5 text-left">
        <img routerLink="/login"  style="cursor: pointer;" width="100%" src="assets/images/member-login.png" alt="member_login">
        <h6>&nbsp;Login to Checkout Faster</h6>
      </div>
  
      <div class="col-xs-2 col-sm-2 text-center">
         <h4>or</h4> 
        </div>
  
        <div style="padding-left:0px;padding-right: 0px" class="col-xs-5 col-sm-5 text-right">
            <img routerLink="/signup" style="cursor: pointer;" width="100%" src="assets/images/create-account-cart.png" alt="create_account">
            <h6 class="">[help (?)]&nbsp;</h6>
          </div>
    </ng-container>
    

      </div> <!-- Row -->

      <div class="row items" *ngFor="let item of Items; index as i">
        <ng-container >
          <div class="col-xs-6">
            <img *ngIf="!item.plateText1" style="cursor: pointer;" (click)="getProduct(item)" class="card-img-top" width="100%" src="{{imgUrl}}{{item.productImage}}" alt="{{item.productName}}"> <br>
			<img *ngIf="item.plateText1" class="card-img-top" width="90%" (click)="getProduct(item)" src="https://www.licenseplates.tv/lpgenI.php?productId={{item.productModel}}&text1={{item.plateText1}}&text2={{item.plateText2}}&font={{font}}" alt="{{item.productName}}">
            <div class="row">
              <div style="padding-left: 0px;padding-right: 0px" class="col-xs-6 text-left">
                <h6 style="cursor: pointer;" (click)="edit(item,i);"><u>Edit</u> </h6>
              </div>
              <div style="padding-left: 0px;padding-right: 0px" class="col-xs-6 text-right">
                <h6 style="cursor: pointer;" (click)="remove(i);"><u>Remove</u>  </h6>
              </div>
            </div>
          </div>
  
          <div class="col-xs-6">
            <h6 style="width: 100%;margin: auto;color: #000" class="card-title">{{item.productName}}</h6> 
            <div class="row">
              <div style="padding-left: 0px;padding-right: 0px;margin-top: 2px" class="col-xs-12">
                <h6 *ngIf="item.plateText1">Text: <span class="a6x12mun">{{item.plateText1}}</span> </h6> 
                <h6 *ngIf="item.plateText2">Text 2: <span class="a6x12mun">{{item.plateText2}}</span></h6>
                <h6><strong class="text-danger">${{item.TotalPrice | number : '1.2-2'}}</strong> </h6>
              </div>
              <div style="padding-left: 0px;padding-right: 0px;" *ngIf="item.plateType == 'Add Black Plate Holder'" class="col-xs-12">
                  <h6><small>Universal Plate Holder - {{item.plateType}}</small> </h6>
                <img width="100" src="assets/images/universalplateholder1.jpg" alt="IMG_Black Plate Holder">
              </div>
              <div style="padding-left: 0px;padding-right: 0px;" *ngIf="item.plateType == 'Add CHROME Plate Holder'" class="col-xs-12">
                  <h6><small>Universal Plate Holder - {{item.plateType}}</small> </h6>
                  <img width="100" src="assets/images/universalplateholder2.jpg" alt="IMG_Black Plate Holder">
                </div> <br style="margin-top: 2px;">
              <div id="tile_div" style="padding-left: 0px;padding-right: 0px;margin-top: 5px" class="col-xs-12 text-center">
                <!-- <div class="col-xs-6 col-sm-6 text-center"> -->
                  <span class="tile_div">
                    <button (click)="decriment(item)" class="btn"><i class="fa fa-minus" aria-hidden="true"></i></button>&nbsp;
                   &nbsp;<h5 class="txtnum">{{item.itemQuantity}}</h5>&nbsp;
                   <button (click)="incriment(item)" class="btn"><i class="fa fa-plus" aria-hidden="true"></i></button>&nbsp;
                  </span>               
                 <!-- </div> -->
              </div>
            </div>
          </div>
        </ng-container>
      </div> <!--Row routerLink="/guestCheckout"-->

      <div class="row text-center">
        <div *ngIf="Items.length > 0" class="col-sm-12">
            <img *ngIf="!loggedIn" (click)="goCheckout()" style="cursor: pointer" width="90%" src="assets/images/guest-checkout.png" alt="guest_checkout">
            <img *ngIf="loggedIn" (click)="goCheckout()" style="cursor: pointer" width="90%" src="assets/images/checkout-btn.png" alt="user_checkout">
        </div>     
        <div *ngIf="Items.length == 0" class="col-sm-12"><br>
          <h4>Cart is Empty!</h4> <br>
        </div>
        <div class="col-sm-12"> <br>
          <a routerLink="/"><img style="cursor: pointer" (click)="goHome()" width="70%" src="assets/images/continue-shopping-new.png" alt="continue_shopping"></a>
        </div>    
      </div>

      <div class="row"> <br>
        <h4 style="color: #000;"><strong>HELPUL INFORMATION:</strong> </h4>
        <h4 style="color: #000;"><strong>Call:</strong> &nbsp;<u>800-491-2068</u> or <u>954-485-0995</u> </h4>
        <h4 style="color: #000;"><strong>Email:</strong> &nbsp;<u>info@licenseplate.tv</u> </h4>
      </div>
       
        

  

</div><!-- Container Fluid-->