
<div class="container-fluid">
  <div class="row">
    <div *ngIf="!fpass" class="col-sm-12">

        <h4 class="txt-heading">Welcome, Please Sign In</h4> <hr>

         <br>
          <h6 *ngIf="loading" class="text-center"> <img width="11%" src="/assets/images/loader.svg" alt=""> checking..</h6>
          
          <div *ngIf="message" class="alert text-center" [ngClass]="message == 'Login successfully' ? 'alert-success' : 'alert-danger'" role="alert">
              {{message}}
            </div>

            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" [(ngModel)]="user.email" #ctrl="ngModel" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="text" [(ngModel)]="user.password" #ctrl="ngModel" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Password">
              </div>

            <!-- <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" [(ngModel)]="user.password" #ctrl="ngModel" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div> -->
         
            <button [disabled]="!user.email || !user.password" type="submit" (click)="authCheck()" class="btn btn-block btn-lg btn-primary">Submit</button> <br>

            
            <div style="display:flex; justify-content:space-around;">
                <a (click)="forgotPass()" href="javascript:void(0)" style="color: black;">Forgot Password ?</a>
                <a style="flex-grow: 1"></a>
                <a style="flex-grow: 1;color: black" (click)="signup()" href="javascript:void(0)">Sign Up</a>
            </div>
            
    </div>

    <div *ngIf="fpass" class="col-sm-12">
        <ng-container *ngIf="!success">
            <h4 class="txt-heading">Forgotten Password</h4> <hr>
        <p>Enter your email address below and we'll send you an email message containing your new password.</p>
         <br>
          <h6 *ngIf="loading" class="text-center"> <img width="11%" src="/assets/images/loader.svg" alt=""> sending..</h6>
          <!-- <h5 *ngIf="message" class="text-center" [ngClass]="message == 'Login successfully' ? 'text-success' : 'text-danger'">{{message}}</h5> -->
            <div class="form-group">
              <label for="exampleInputEmail3">Email address</label>
              <input type="email" [(ngModel)]="model.email" #ctrl="ngModel" class="form-control" id="exampleInputEmail3" aria-describedby="emailHelp" placeholder="Enter email">
              <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
            </div>
            <button [disabled]="!model.email" type="submit" (click)="resetPass()" class="btn btn-block btn-lg btn-primary">Submit Email</button> <br>
            <button type="submit" (click)="back()" class="btn btn-block btn-lg btn-secondary">Back</button> <br>
        </ng-container>
        
        <ng-container *ngIf="success">
            <div class="alert alert-success text-center" role="alert">
                A new password has been sent to your email address.
              </div>
              <button type="submit" (click)="back()" class="btn btn-block btn-lg btn-secondary">Back</button> <br>
        </ng-container>
        <ng-container *ngIf="error">
            <div class="alert alert-danger text-center" role="alert">
              {{resMessage}}
              </div>              
        </ng-container>   
         

    </div>


  </div>
</div>