/*
Import
=========================== */
@import '../../../assets/sass/css3-mixins';
@import '../../../assets/sass/variable';

.container-fluid, .col-sm-4, .col-sm-12 {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.card{
    border-top: 4px solid #c3c3c3;
    // border-bottom: 4px solid #c3c3c3;
    padding: 1em;
}
.m-0 {
    margin-top: 0 !important;
    margin-bottom: 10px !important;
}

.select {
    background: #444;
    color: #fff;
}

.pagination li {
    margin: 0 4px;
}

h1,h2,h3,h4,h5 {
    text-transform: none;
}

.card-text {
        font-weight: 600;
        color: #000;
}

.card-img {
    width: 100%;
    height: 180px;
}

.div-txt {
    width: 100%;
    height: 90px;
}
.card_plate {
    border-top: 2px solid #c3c3c3;
    border-bottom: 2px solid #c3c3c3;
    padding: 1em;
    padding-bottom: 0em;
}

.shop_now_btn img {
    margin: 1em;
}

.footerblock {
    background: #fff;
    margin: 20px;
    box-shadow: 1px 2px 2px 0px;
    padding: 8px 10px;
    min-height: 70px;
    border: 1px solid #d8d8d8;
}

.text-danger {
    color: #dc232f;
    font-weight: bold;
}

.old_price {
    text-decoration: line-through;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #6b696b;
    border-radius: 0px;
    width: 50%;
    margin: 1em;
    background-color: #6b696b !important;
    font-size: x-large;
    font-weight: bold;
}

.well {
    background-color: #fff;
    border: 0px solid #fff;
    margin-bottom: 0px;
    padding-bottom: 0px;
}


.banner{
    padding: 60px 0 0 0;
    background-color: $color-bg-gray3;
    background-image: url('/assets/images/bg/brick-wall.png');
    position: relative;
    
    &:before{
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include background-gradient(rgba(0,0,0,0.1),$color-bg-gray3);
    }

    .row{
        margin-top: 0;
        margin-bottom: 0;
        position: relative;
        z-index: 2;

        .content{
            padding-top: 115px;
            margin-bottom: 25px;

            .sub-title{
                text-transform: uppercase;
            }

            .title{
                margin: 15px 0 40px 0;
                text-transform: none;
            }
        }
    }

    .wrap-demo{
        height: auto;
        padding: 0 15px;
    }

    img{
        display: block;
    }
}


/* Loading
======================== */
.wrap-loading{
    position: relative;
    width: 100%; 
    top: 0;
    right: 0;

    mat-spinner {
      width: 50px; 
      height: 50px; 
      display: block;
      margin: auto;
    }
}

/* Wrap Home 2
======================== */
.wrap-home{
    padding: 0 45px;
    margin: 0;
    position: relative;
    background: #fff;
    background-image: url('../../../assets/images/bg/brick-wall.png');

    > .wrap-slider{
        overflow: hidden;

        > .row{
            position: relative;
            z-index: 1;  
            margin: 0;    
            @include transition("all 0.3s ease-in-out");
    
            .col{
                padding: 0;      

                .valign-wrapper{
                    border-left: solid 1px #d0d0d0;
                    border-right: solid 1px #d0d0d0;
                    margin-left: -1px; 

                    .content{
                        display: block;
                        width: 100%;
                        padding: 0 15px;
                        letter-spacing: .5px;

                        .material-icons{
                            position: relative;
                            top: 2px;
                        }

                        img{
                            width: 100%;
                            padding: 15px;
                            margin-bottom: 15px;
                        }
                
                        h1, h2, h3, h4, h5, h6{
                            font-weight: 900;
                            text-transform: none;
                        }
                    }
                }

                &.demo .valign-wrapper .content{
                    padding: 55px;
                }
            }
        }
    }

    .nav{
        position: absolute;
        background: transparent;
        width: 45px;
        height: 100%;
        text-align: center !important;
        line-height: 35px;
        left: 0;
        top: 0;
        z-index: 2;
        border: 0;
        outline: 0;
        display: block;
        color: $color-content;
        background: #fff;

        &:focus{
            background: #fff;
        }

        &.next{
            margin-left: -45px;
            left: 100%;
        }

        &:disabled{
            @include opacity(0.5);
        }

        mat-icon{
            position: relative;
            right: 6px;
            top: 2px;
            font-size: 32px;
        }
    }
}

/* Responsive
======================== */
@media(max-width: 1200px){
    .wrap-home > .wrap-slider > .row .col .valign-wrapper .content{
        padding: 0 30px;
    }
}

@media(max-width: 920px){
    .wrap-home{
        padding: 0;

        > .wrap-slider {
            border: 0;

            .row{
                width: 100% !important;
                transform: translateX(0) !important;

                .col{
                    width: 100% !important;
                    border-bottom: solid 1px #efefef;
                    background: rgba(255,255,255,0.5);

                    &.demo{
                        background: transparent;
                    }

                    .valign-wrapper{
                        height: auto !important;

                        .content{
                            padding: 55px 30px;
                        }
                    }
                } 
            } 
        }

        .nav{
            display: none;
        }
    }
}

@media (min-width: 768px) and (max-width:920px){
    .wrap-home > .wrap-slider > .row .col{
        .valign-wrapper .content{
            width: 80%;
            display: table;
            margin: auto;
            position: relative;
            overflow: hidden;
            text-align: left !important;
            padding-left: 250px;

            img{
                padding: 30px;
                position: absolute;
                left: 0;
                top: 0;
                width: 250px;
            }
        }
    }
}

@media(max-width: 767px){
    .wrap-home > .wrap-slider > .row .col{
        .valign-wrapper{
            border: 0;

            .content{
                padding: 55px 15px;

                img{
                    width: 250px;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}