
h1, h2, h3, h4, h5, h6 {
    text-transform: none;
}

.btn-secondary {
    border: 1px solid #23c60c;
border-radius: 0px;
color: #23c60c;
}

.btn-secondary:hover {
    color: #FFF;
    background: #23c60c;
}