
h1,h2,h3,h4,h5,h6 {
    text-transform: none;
}

.txt-heading {
    margin-bottom: 5px;
    margin-top: 5px;
}

hr {
    margin-top: 0px;
    margin-bottom: 10px;
}

.form-group {
    font-size: 15px;
}

 a.fpass-txt {
    font-size: 16px;
    color: #000;
}

a.fpass-txt:hover {
    color: #dc232f !important;
}

.form-group label {
    text-transform: none;
    font-weight: normal;
    font-size: 17px;
    color: #686868;
}

.form-control {
    height: 40px;
    font-size: 16px;
    background-color: #f2f2f2;
}

.btn-primary {
    color: #fff;
    background-color: #dc232f !important;
    border-color: #fff;
}

.text-danger {
    color: #dc232f !important;
}

.end {
    border-top: 3px solid #dc232f;
    margin-top: 15px;
    margin-bottom: 15px;
}

.form-group > .text-danger {
    padding: .5em;
    top: 15px;
}

.col-xs-1 label {
    padding-left: 0px;
}

.col-xs-11 {
    padding-right: 0px;
    padding-left: 0px;
}

.form-group .label {
    font-weight: normal;
    padding-left: 0px;
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    font-size: 19px;
    transform: scale(1.3);
    margin-right: 8px;
}

#news label {
    color: #4e5151;
font-size: 17px;
font-weight: normal;
}