<div class="container-fluid">
  <div class="row">

    <div class="col-sm-12">

      <h4 class="txt-heading">My Account Information</h4>
      <hr>

      <br>
      <h6 *ngIf="loading" class="text-center"> <img width="11%" src="/assets/images/loader.svg" alt=""> checking..</h6>

      <div *ngIf="message" class="alert text-center"
        [ngClass]="message == 'Login successfully' ? 'alert-success' : 'alert-danger'" role="alert">
        {{message}}
      </div>

      <p>NOTE: If you already have an account with us, please login at the login page.</p>

      <h4 class="txt-heading">Your Personal Details</h4>
      <hr>


      <h6 class="text-danger text-right">* Required information</h6>

      <h5>Company Details</h5>
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="exampleInputcname">Company Name</label>
          <input type="text" formControlName="company" class="form-control" id="exampleInputcname"
            placeholder="Company Name">
        </div> <br>
        <h5>Address Details</h5>

        <div class="form-group row">
          <div class="col-xs-11">
            <label class="label" for="exampleInputfname">First Name:</label>
            <input type="text" formControlName="fname" class="form-control" id="exampleInputfname"
              placeholder="First Name" [ngClass]="{ 'is-invalid': submitted && f.fname.errors }" >
              <div *ngIf="submitted && f.fname.errors" >
                  <div class="invalid-feedback" *ngIf="f.fname.errors.required">First Name is required</div>
              </div>
          </div>
          <label for="inputEmail3" class="col-xs-1 col-form-label text-danger">*</label>
        </div>
        <div class="form-group row">
            <div class="col-xs-11">
              <label class="label" for="exampleInputfname">Last Name:</label>
              <input type="text" formControlName="lname" class="form-control" id="exampleInputfname"
                placeholder="Last Name" [ngClass]="{ 'is-invalid': submitted && f.lname.errors }" >
                <div *ngIf="submitted && f.lname.errors" >
                    <div class="invalid-feedback" *ngIf="f.lname.errors.required">Last Name is required</div>
                </div>
            </div>
            <label for="inputEmail3" class="col-xs-1 col-form-label text-danger">*</label>
          </div>
        <div class="form-group row">
          <div class="col-xs-11">
            <label class="label" for="exampleInputsaddress">Street Address:</label>
            <input type="text" formControlName="address" [ngClass]="{ 'is-invalid': submitted && f.address.errors }" class="form-control" id="exampleInputfname"
              placeholder="Street Address">
              <div *ngIf="submitted && f.address.errors" >
                  <div class="invalid-feedback" *ngIf="f.address.errors.required">Street Address is required</div>
              </div>
          </div>
          <label for="inputEmail3" class="col-xs-1 col-form-label text-danger">*</label>
        </div>
        <div class="form-group row">
          <div class="col-xs-11">
            <label class="label" for="exampleInputaddressl2">Address Line 2:</label>
            <input type="text" formControlName="address2" class="form-control" id="exampleInputfname"
              placeholder="Address Line 2">
          </div>
          <label for="inputEmail3" class="col-xs-1 col-form-label text-danger"></label>
        </div>
        <div class="form-group row">
          <div class="col-xs-11">
            <label class="label" for="exampleInputCity">City:</label>
            <input type="text" formControlName="city" [ngClass]="{ 'is-invalid': submitted && f.city.errors }"class="form-control" id="exampleInputfname"
            placeholder="City"> 
            <div *ngIf="submitted && f.city.errors" >
                <div class="invalid-feedback" *ngIf="f.city.errors.required">City is required</div>
            </div>
          </div>
          <label for="inputEmail3" class="col-xs-1 col-form-label text-danger">*</label>
        </div>
        <div class="form-group row">
          <div class="col-xs-11">
            <label class="label" >Country:</label>
            <select name="zone_country_id" id="country"  formControlName="country" [ngClass]="{ 'is-invalid': submitted && f.country.errors }" (change)="checkCountry($event)" class="form-control"
              id="exampleInputCountry">
              <option *ngFor="let item of Countries" value="{{item.countries_name}}" select>{{item.countries_name}}
              </option>
              <div *ngIf="submitted && f.country.errors" >
                  <div class="invalid-feedback" *ngIf="f.city.errors.required">Country is required</div>
              </div>
            </select>
          </div>
          <label for="inputEmail3" class="col-xs-1 col-form-label text-danger">*</label>
        </div>

        <div class="form-group row">
            <div class="col-xs-11">
              <label class="label" for="exampleInputCity">State/Province::</label>
              <input type="text" formControlName="state" [ngClass]="{ 'is-invalid': submitted && f.state.errors }" class="form-control" id="exampleInputfname" placeholder="State">
              <div *ngIf="submitted && f.state.errors" >
                  <div class="invalid-feedback" *ngIf="f.state.errors.required">State is required</div>
              </div>
            </div>
            <label for="inputEmail3" class="col-xs-1 col-form-label text-danger">*</label>
          </div>

        <div class="form-group row">
          <div class="col-xs-11">
            <label class="label" for="exampleInputPost">Post/Zip Code:</label>
            <input type="text" formControlName="zipcode" [ngClass]="{ 'is-invalid': submitted && f.zipcode.errors }" class="form-control" id="exampleInputfname" placeholder="Zipcode">
            <div *ngIf="submitted && f.zipcode.errors" >
                <div class="invalid-feedback" *ngIf="f.zipcode.errors.required">Zipcode is required</div>
            </div>
          </div>
          <label for="inputEmail3" class="col-xs-1 col-form-label text-danger">*</label>
        </div> <br>
        <h5>Additional Contact Details</h5>

        <!-- <div class="form-group row">
          <div class="col-xs-11">
            <label class="label" for="exampleInputphone">Telephone:</label>
            <input type="text" formControlName="telephone" [ngClass]="{ 'is-invalid': submitted && f.telephone.errors }"class="form-control" id="exampleInputfname"
              placeholder="Telephone"> 
              <div *ngIf="submitted && f.tel.errors" >
                  <div class="invalid-feedback" *ngIf="f.telephone.errors.required">Telephone is required</div>
              </div>
          </div>
          <label for="inputEmail3" class="col-xs-1 col-form-label text-danger">*</label>
        </div> -->
        <div class="form-group row">
            <div class="col-xs-11">
              <label class="label" for="exampleInputfname">Telephone:</label>
              <input type="text" formControlName="telephone" class="form-control" id="exampleInputfname"
                placeholder="Telephone" [ngClass]="{ 'is-invalid': submitted && f.telephone.errors }" >
                <div *ngIf="submitted && f.telephone.errors" >
                    <div class="invalid-feedback" *ngIf="f.telephone.errors.required">Telephone is required</div>
                </div>
            </div>
            <label for="inputEmail3" class="col-xs-1 col-form-label text-danger">*</label>
          </div><br>
        <h5>Login Details</h5>

        <div class="form-group row">
          <div class="col-xs-11">
            <label class="label" for="exampleInputEmail2">Email:</label>
            <input type="text" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"class="form-control" id="exampleInputfname"
              placeholder="Email"> 
              <div *ngIf="submitted && f.email.errors" >
                  <div class="invalid-feedback" *ngIf="f.email.errors.required">Email is required</div>
              </div>
          </div>
          <label for="inputEmail3" class="col-xs-1 col-form-label text-danger">*</label>
        </div>

        <div class="form-group row">
          <div class="col-xs-11">
            <label class="label" for="exampleInputPass2">Password:</label>
            <input type="text" formControlName="pass" [ngClass]="{ 'is-invalid': submitted && f.pass.errors }"class="form-control" id="exampleInputfname"
            placeholder="Password"> 
            <div *ngIf="submitted && f.pass.errors" >
                <div class="invalid-feedback" *ngIf="f.pass.errors.required">Password is required</div>
            </div>
          </div>
          <label for="inputEmail3" class="col-xs-1 col-form-label text-danger">*</label>
        </div>
        <div class="form-group row">
          <div class="col-xs-11">
            <label class="label" for="exampleInputCPass2">Confirm Password:</label>
            <input type="text" formControlName="cpass" [ngClass]="{ 'is-invalid': submitted && f.cpass.errors }"class="form-control" id="exampleInputfname"
            placeholder="Password"> 
            <div *ngIf="submitted && f.cpass.errors" >
                <div class="invalid-feedback" *ngIf="f.cpass.errors.required">Confirm Password</div>
            </div>
            <div *ngIf="!passMatch" >
                <div class="invalid-feedback" >Passwords   do not match, Please verify</div>
            </div>
          </div>
          <label for="inputEmail3" class="col-xs-1 col-form-label text-danger">*</label>
        </div> <br>

        <h5>Newsletter and Email Details</h5>
        <div id="news" class="row">
          <div class="form-check form-check-inline col">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">HTML</label>
          </div>
          <div class="form-check form-check-inline col">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">TEXT-Only</label>
          </div>
        </div>

        <button  type="submit" class="btn btn-block btn-lg btn-primary">Submit the Information</button> <br>
        <div *ngIf="errors" >
            <div class="invalid-feedback" >Please, make sure all required fields are correct</div>
        </div>

        <hr class="end"> <br>
      </form>
    </div>

  </div>
</div>