<div class="container-fluid">

  <div class="row">
      <div class="col-sm-12 text-center" style="padding-top: 3px">
          <h4><strong>Custom Request</strong></h4>
          <img width="100%" src="/assets/images/special/special-request-banner.jpg" alt="">
      </div>
  </div> <!-- row -->

  <div class="row">

      <!-- <ng-container *ngIf="!subCategories">
              <div class="col-sm-4 text-center">
                      <h6>loading...</h6>
                  </div>
      </ng-container> -->

      <p style="padding: 1em;color: #000;font-size: 16px;margin-bottom: 0px;">
        Licenseplates.tv carefully evaluates every special request for license plates from idividuals or corporations. We cater to all of our customers needs. 
        No job is too big or too small. 
        Either it be to replicate an old license plate passed down from generations, or to simply change the year on a license plate for a more up-to-date appeal.
      </p>

      <p style="padding: 1em;color: #000;font-size: 16px;margin-bottom: 0px;">
        Our Team of dedicated professionals work diligently to provide the most outstanding craftsmanship any one can offer. 
        We take pride in providing excellent service to all our customers.
      </p>

      <p style="padding: 1em;color: #000;font-size: 16px;margin-bottom: 0px;">
        Please see below at some of the work that we have done in the past.
      </p>

      <p style="padding: 1em;color: #000;font-size: 16px;margin-bottom: 0px;">Special Request by customers: </p>

      <div class="col-sm-12 text-center" style="padding-top: 3px">
        <!-- <h4><strong>Custom Request</strong></h4> -->
        <img width="100%" src="/assets/images/special/main_first3set.jpg" alt="">
    </div>
      
      <div class="row">

        <div class="col-sm-12 text-center">
          <p style="padding: .5em;color: #000;font-size: 16px;margin-bottom: 0px;">
              ANTIQUE ITALIAN LICENSE PLATES, REPLICATED FROM OLD PHOTOS PROVIDED BY CUSTOMERS 
          </p>
        </div>

      <div class="col-sm-4 text-center">
        <img width="100%" src="/assets/images/special/3456.jpg" alt="">
      </div>

      <div class="col-sm-4 text-center">
        <img width="100%" src="/assets/images/special/statepolice6.jpg" alt="">
      </div>

      <div class="col-sm-4 text-center">
        <img width="100%" src="/assets/images/special/b1324.jpg" alt="">
      </div>

      <p class="text-center" style="padding: .5em">
          COMMEMORATIVE LICENSE PLATE <br>
          FERRARI WORLLLD - ABU DHABI 
      </p>      

      <p class="text-center" style="padding: .5em">
          REPLICA OF A1936 MAINE <br> 
          STATE POLICE LICENSE PLATE 
      </p>

      <p class="text-center" style="padding-top: .5em">
          SPECIALTY LICENSE PLATE FOR CARS THE RIDE <br>
IN DISNEY CALIFORNIA 
        </p>

        <h6 class="text-center">
          <strong>Let us bring your ideas to life.</strong>
        </h6>

        <p class="text-center">
          <small>If you have a plate you would like us to make please contact us:</small>  
        </p>

        <h6 class="text-center">
            <strong>Phone: 1-800-491-2068</strong>
          </h6>

          <h6 class="text-center">
              <strong>Email: platemeister@licenseplates.tv Web: Special Request Form
                </strong>
            </h6>

      </div>
     
  </div>

</div> <!-- container-fluid -->